@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

header {
  position: relative;
  overflow-x: hidden;
}

.hero-bg {
  background: url(../imgs/community-bg.svg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.hero-content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  color: #4265d6 !important;
}

.line {
  position: absolute;
  right: auto;
  top: 33vh;
  width: 5rem;
}

@media (min-width: 0px) {
  .bg-md {
    background-color: #fff;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.16),
      0 10px 20px -2px rgba(0, 0, 0, 0.1) !important;
  }
}

@media (min-width: 576px) {
  .bg-md {
    background-color: #fff;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.16),
      0 10px 20px -2px rgba(0, 0, 0, 0.1) !important;
  }
  .line {
    top: 20vh;
    width: auto;
  }
}

@media (min-width: 768px) {
  .bg-md {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0) !important;
    background-color: transparent;
  }
  .line {
    top: 28vh;
    width: auto;
  }
}

@media (min-width: 992px) {
  .bg-md {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0) !important;
    background-color: transparent;
  }
  .line {
    top: 32vh;
    width: auto;
  }
}

footer {
  font-family: "DM Sans", sans-serif;
}
